@font-face {
    font-family: Bai;
    src: url(../fonts/baijamjuree/BaiJamjuree-Medium.ttf);
}

*{
    font-family: Bai;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
h1, h2,h3{
    text-align: center;
    color: hsl(210, 10%, 33%);
    word-wrap:break-word;
    margin-bottom: 0.4rem;
}
p{
    color: hsl(201, 11%, 66%);
    text-align: center;
    word-wrap: break-word;
}

.everything{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* Bg header config */
.bg-header{
    border: 1px solid red;
}

/* Setion First*/

.first{
    margin-top: -12rem;
    max-width: 50%;
    border: 1px solid blue;
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.first>.logoImg{
    border: 1px solid ;
    margin-bottom: 2rem;
}
.first>.history{
    border: 1px solid ;
    width: 80%;
    padding: 1rem 0;
}
.first>.buttons{
}
button{
    padding:0.8rem 1rem ;
    border: none;
    border-radius: 20px;
}
.buttons>.btnOne{
    background: hsl(171, 66%, 44%);
    color: whitesmoke;
    margin-right: 0.5rem;
}
.buttons>.btnSecond{
    background: hsl(233, 100%, 69%);
    color: whitesmoke;
    margin-left: 0.5rem;
}
/* end */


/* Sumary */
.sumary{
    margin-top: 6rem;
    max-width: 50%;
    border: 1px solid blue;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
.sumary>.news{
    border: 1px solid ;
    width: 80%;
}
/* end */

/* second section */
.second{
    display: flex;
    align-items: center;
    gap: 6rem;

    border: 1px solid blue;
    max-width: 100%;
}
/* .second>.desktop{
    border: 1px solid red;
} */
.second>.detail{
    max-width: 30%;
}

.details{
    margin-bottom: 3rem;
}
.details p{
    text-align: start;
    width: 79%;
}
.details h3{
    text-align: start;
}
/* end */

.img_desk_mobile{
}

/* third section */
.third{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.third .cards{
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
}
.cards div{
    width: 50%;
    word-break: break-all;
}
.cards span{
    display: block;
    border: 1px solid red;
    margin: 2rem 0; 
}
/* end */

/* publicity */


.publicity{
    min-width: 80%;
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 5rem;
    border: 1px solid;
}
.publicity div{
    border: 1px solid blue;
}

/* end */